img.photo{
  border: 5px outset var(--primaryvariant);
  border-radius: 10px;
  width: 350px;
}

img.logo{
  padding: 10px 5px 0px 0px;
  width: 50px
}

img.aref{
  padding: 0px 15px 0px 0px;
  height: 45px;
}

img.aref:hover{
  filter: brightness(80%) contrast(90%);
}

img.downsvg:hover{
  filter: brightness(80%) contrast(90%);
  cursor: pointer;
}