/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--onbackground);
  border-radius: 5px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999; 
}